body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 24em;
  color: yellow;
}
ul{
  font-size: 16em;
  color: red;
 }

#myList{
  color: purple;
}

p{
  font-size: 18em;
  color: dimgray;
  font-style: italic;
}
.navbar{
  background-color: orange;
}